@using Newtonsoft.Json;
@using KWeb.Utils;

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section BaseStyles {

    <link rel="stylesheet" href="~/Styles/css/custom/Layout.css">

    @RenderSection("Styles", required: false)
}

<div class="app-container d-flex">
    <nav>
        <ul class="menu">
            @{
                var json = HttpContext.Current.Session["options"] as string;
   
                var options = string.IsNullOrEmpty(json)
                    ? new RoleOption()
                    : JsonConvert.DeserializeObject<RoleOption>(json);

                 foreach (Option option in options.Options)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@option.Url">@option.Name</a>
                    </li>
                }
            }
            <li class="nav-item fixed-bottom">
                <a class="nav-link" href="/auth/signout">Cerrar sesión</a>
            </li>
        </ul>

    </nav>

    <main>
        @if (TempData["SuccessMessage"] != null)
        {
            <div id="message" class="alert alert-success d-flex justify-content-between">
                <span>@TempData["SuccessMessage"]</span>
                <button type="button" class="btn p-0" aria-label="Close" onclick="dismissMessage()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div id="message" class="alert alert-danger d-flex justify-content-between align-items-center">
                <span>@TempData["ErrorMessage"]</span>
                <button type="button" class="btn p-0" aria-label="Close" onclick="dismissMessage()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }

        <div style="overflow-y: auto; max-height: 100vh;">
            @RenderBody()
        </div>

    </main>
</div>

@section BaseScripts {
    @RenderSection("Scripts", required: false)

    <script>
        function dismissMessage() {
            var messageElement = document.getElementById("message");
            if (messageElement) {
                messageElement.className = "d-none";
            }
        }
    </script>
}